* {
box-sizing: border-box;
}

html,
body{
height: 100%;
}


body{
    background-image: radial-gradient(map-get($colours, white),map-get($colours, grey));
    margin:0;
    font-family: $font-primary;
  
 
    
}

.wrapper{
    flex: 1 0 auto;
}

.text-box{
    margin-top: 30px;
   margin-left:80px;
   margin-right:80px;
    
}

.container{
justify-content: center; 
align-items: center;
}