@media only screen and (max-width: 400px){


    .tab-content{
        height: 500px;
        justify-content: center; 
        align-items: center;
        display: block;
        
    }
    
}